.container {
    width: 80%;
    margin: 0 auto;
  }
  
  .destination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffedee;
  }
  
  .left-side {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 5px;
    text-align: center;
  }
  
  .left-side img {
    border-radius: 5px;
  }
  
  .right-side {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  #add-trip-form {
    background-color: #e5e3e3;
    padding: 20px 0;
  }
  
  #add-trip-form .row {
    width: 50%;
    margin: 20px auto;
  }
  
  #add-trip-form label {
    text-align: left;
    width: 200px;
    display: inline-block;
  }
  
  #add-trip-form input {
    height: 24px;
    line-height: 24px;
    border: 1px solid #000;
    border-radius: 1px;
  }
  
  #add-trip-section {
    border: 1px solid #38b6ff;
    border-radius: 5px;
  }
  
  #trip-detail-section {
    margin-top: 20px;
    border: 1px solid #7ed957;
    border-radius: 5px;
    padding: 10px;
  }
  
  .city-image {
    width: 80%;
  }
  